<!DOCTYPE>
<html>
  <head>

    <meta charset="utf-8">
    <meta name='keywords' content=''>
    <meta name='description' content="">
    <meta name='viewport' content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/img/sandaru.jpeg">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/test.css') }}">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/common.js"></script>

    <title>test</title>

  </head>
  <body>
    <header>
      <div class='top_bar'>
        <ul class='menu_after'>
          <li class='menu_top'><a href="#">hello</a></li>
          <li class='color'><a href="#">test</a></li>
          <li class='menu_list'><a href="#">test</a></li>
        </ul>
      </div>
    </header>

    <div class='main'>
      <div class='main_sub'>
        <p class='red'><a href="#">TEST</a></p>
        <img class='img' src="static/img/ninzya.png" alt="">
        {% for tests in data %}
        <p class='red next'>{{tests["test"]}}</p>
        {% endfor %}
      </div>
    </div>

    <div class='post'>
      <div id='post' class='post_comment'>
        <form action="/" method="POST">
          <textarea cols="30" rows="5" maxlength="150" name="test" placeholder="今の気持ちをつぶやいてみよう！" wrap="hard"></textarea>
        <div class='submit'>
          <input type="submit" name="save" value="test">
        </div>

        </form>
      </div>
    </div>

    test
    testtestetst

    <footer class='footer'>
      <div class='footer_main'>
        <div class='footer_back'>
          <p class='red'>testだよ！</p>
        </div>
      </div>
    </footer>
  </body>
</html>
