<!DOCTYPE>
<html>
  <head>

    <meta charset="utf-8">
    <meta name='keywords' content=''>
    <meta name='description' content="">
    <meta name='viewport' content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/img/sandaru.jpeg">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="static/css/info.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/info.js"></script>

    <title>宮古方言</title>

  </head>

  <body>
   <div class='info'>
    <header>
      <div class='header'>
        <ul id='header_id' class='header_id'>
          <li class='red'><a href="/">宮古方言</a></li>
          <li class='white'><a href="/info">宮古方言とは？</a></li>
          <li class='white_last'><a href="/images">イラスト</a></li>
        </ul>
      </div>
      <div class='header_sub'>
       <div class='henkan'>
        <span class='en'><a href="#">English</a></span>
        <span class='sp'><a href="#">Spain</a></span>
       </div>
       <div class='img_tag'>
         <img class='img' src="static/img/si-sa.png" alt="">
       </div>
     </div>
    </header>

    <div id='main' class='main'>
      <div class='main_content'>
        <p class='topic'>宮古方言とは？</p>
        <p class='text'>
          宮古方言（みやこほうげん）または宮古語（みやこご）、宮古諸方言（みやこしょほうげん）は、琉球語（琉球方言）の内、宮古列島で話される方言（言語）の総称である。
          約5万人の話者がいる。現地では「ミャークフツ」（宮古口）と呼ばれる。<br>
          2009年2月、ユネスコにより消滅危機言語の「危険」と分類された。
        </p>
        <p class='text_last'>
          宮古方言は島によって異なる。大きく、宮古島方言、伊良部島方言、多良間島方言の3つの方言に分けることができる。<br>
          また、宮古島方言は、細かく見ると集落ごとに異なるが、大きく北部と南部に分けられる。<br>
          各島間の著しい方言差のために、この地域の標準語である宮古島の平良方言でさえ、伊良部島や多良間島ではほとんど通じにくい。<br>
        </p>
      </div>
    </div>
    <footer>
      <img src="static/img/Untitled1.png" alt="">
      <p class='last'>@宮古方言</p>
    </footer>
   </div>
  </body>
